<h1>Nombre Del Hereo: {{ heroe.nombre }} <br>
    <small>Fecha de Aparacion: {{ heroe.aparicion }}</small></h1>
<hr>

<div>

    <div class="col-md-4">

        <img [src]="heroe.img" class="img-fluid" alt="">
        <br><br>
        <a href="heroes" class="btn btn-outline-danger btn-block">Regresar</a>

    </div>

    <div class="col-md-8">
        <br>
        <br>
        <h3>{{heroe.nombre}}</h3>
        <hr>
        <p>
            {{heroe.bio}}
        </p>
        <div>
            <img src="" alt="test gerardo ivan">
        </div>

    </div>


</div>